/* ============================================
--------------- Reusable styles----------------
============================================== */
/*-- Colors -- */
/* -- Styles --*/
.skew_neg_17deg {
  transform: translate3d(0px, -231.39159px, 0px) skewY(-17deg);
  -webkit-transform: translate3d(0px, -231.39158px, 0px) skewY(-17deg);
  -moz-transform: translate3d(0px, -231.39158px, 0px) skewY(-17deg);
  -o-transform: translate3d(0px, -231.39158px, 0px) skewY(-17deg);
  outline: 1px solid transparent; }

.skew_17deg {
  transform: translate3d(0px, -231.39159px, 0px) skewY(17deg);
  -webkit-transform: translate3d(0px, -231.39158px, 0px) skewY(17deg);
  -moz-transform: translate3d(0px, -231.39158px, 0px) skewY(17deg);
  -o-transform: translate3d(0px, -231.39158px, 0px) skewY(17deg);
  outline: 1px solid transparent; }

/* ============================================
--------------- Base Style  -------------------
============================================== */
body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  background-color: #e9eaea;
  color: #333333;
  font-family: 'Lato', Helvetica;
  -webkit-font-smoothing: subpixel-antialiased;
  /* Disables selection of text */
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  /* Default cursor styles */
  cursor: default; }

ul, li {
  padding: 0;
  margin: 0; }

a {
  color: #333333;
  text-decoration: none; }

a:hover {
  color: #333333; }

a:visited {
  color: #333333; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

/* Hide from IE Mac \*/
.clearfix {
  display: block; }

/* End hide from IE Mac */
/* ============================================
---------------------- Main -------------------
============================================== */
.text {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  max-width: 1000px;
  margin: 0 auto; }

.text_medium {
  font-size: 50px;
  max-width: 750px; }

.intro_text {
  padding-top: 250px;
  text-align: center;
  font-weight: bold;
  font-size: 200px; }

.line_vertical {
  text-align: center;
  width: 2px;
  height: 240px;
  background: #333333;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px; }

.invisible {
  background: #e9eaea; }

.yes_you {
  text-align: center;
  font-weight: bold;
  font-size: 100px; }

.of_course {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px; }

.card {
  width: 500px;
  min-height: 200px;
  background: white;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 1px 10px 1px rgba(50, 68, 100, 0.1);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  overflow: hidden; }
  .card .date {
    font-size: 12px;
    font-weight: 900;
    padding-top: 15px;
    padding-left: 30px;
    color: #adadad;
    text-transform: uppercase; }
  .card h2 {
    border-bottom: 2px solid #e9eaea;
    padding-bottom: 25px;
    padding-left: 30px;
    margin-bottom: 0px; }

.img_yz {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  cursor: url(../img/lime.png), auto; }

.card_img {
  width: 100%;
  overflow: hidden;
  max-width: 500px; }

.first_card {
  margin-top: 50px;
  height: 420px; }

.second_card {
  cursor: url(../img/fen.png), auto; }

.our_card_1 {
  height: 450px; }

.bday {
  display: block;
  margin: 0 auto;
  text-align: center; }

.kisses {
  font-size: 72px; }

.destruct {
  content: #adadad;
  font-size: 12px;
  margin-top: 100px; }

/*# sourceMappingURL=main.css.map */
