

body{
	background-image: url("../images/polkadot.png");
	background-color: rgba(38,38,38,1);
}

#wrapper { 
	width:100%;
 	margin:9.438em auto; 
 	text-align:center; 
 	margin-top: 6em;
 }

 #social {
 	margin: 0 auto;
 	padding-left: 35.688em;
 	padding-top: 2.5em;
 }

div.icons { 
	height:60px; 
	position:relative; 
	width:10%; 
	float:left; 
	
} 

#logo {
	position: relative;

	}

div .icons img{
	max-width: 45%;
	text-align: center;
}




#comingsoon{
	font-size: 1.3em;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.6em;
	font-weight: 1000;

}

#name {
	color: #e31956;
}

#portfoliolink {
	color: #e31956;
	text-decoration: none;
3
}
img.a {
	position: absolute;
	left: 0;
	top: 0;
    z-index: 10;
	}
 
img.b {
	position: absolute;
	left: 0;
	top: 0;
	}