
body, 
html {
	padding:0;
	margin:0;
	
}


ul, li {
	padding:0;
	margin:0;
}

div {
	position:relative;
}

body {
	overflow-x:hidden;
}

div 
h1 {
	font-size:48px;
	line-height:1.30em;
	margin:0px;
	font-weight:normal !important;
	letter-spacing:5px;
	color:#222;
}

h3 { 
	text-transform:uppercase;
	font-family:'helvetica';
	font-size:70px;
	line-height:0.95em;
	letter-spacing:0.06em;
	padding:0;
	margin:0;
	width:100%;
	font-weight:normal !important;
	color:#fff;
	font-style:normal;
}

h4 {
	font-family:'helvetica';
	font-size:26px;
	line-height:1.3em;
	padding:0px 0 3px 0;
	margin:0px 0 7% -9%;
	letter-spacing:3px;
	font-weight:normal !important;
	text-align:right;
	text-transform:uppercase;
	color:#222;
	width:118%;
	background:#efefef;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	box-sizing:border-box;
}


::selection, 
::-moz-selection, 
::-webkit-selection {
	background:#aaa;
	color:#fff;
}

/*------------------- PRELOADER  -----------------------*/

#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#111111; 
	z-index:99; 
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; 
	top:50%; 
	background-image:url(../Images/status.gif); 
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; 
}

/*------------------- End of PRELOADER -----------------------*/



/*------------------- NAVIGATION  -----------------------*/


ul#navigation {
	position:fixed;
	display:none;
	top:0px;
	right:0px;
	width:100%; 
	background: #111111;
	/*background: rgba(0, 0, 0, .92);*/
	height:100%;
	width:460px;
/*	margin-right:-460px;*/
	padding-top:8.750em;
	-webkit-transition: all .3s linear; 
	-moz-transition: all .3s linear; 
	-ms-transition: all .3s linear; 
	-o-transition: all .3s linear; 
	transition: all .3s linear;
	color:#999 !important;
	z-index:988888;
}

ul#navigation img {
	cursor:pointer;
}

ul#navigation li.current_page_item a {
	color:#e31956 !important;
	/*padding: 0px 14px;*/
}

.active {
	color:#e31956 !important;
}

ul#navigation li {
	font-family:'Lato' 'san-serif';
	font-weight: 300;
	letter-spacing:0.05em;
	display:block;
	font-size:0.969em;
	text-align:center;
	width:100%;
	height:auto;
	padding:0;
	margin:0 0 0.906em 0;
	position:relative;
}

ul#navigation li:first-child {
	 text-transform:uppercase; 
	 letter-spacing:0.25em; 
	 color:#555;
	 margin-top:3.438em;
}

ul#navigation li a {
	color:#fff;
	text-decoration:none;
}

ul#navigation li a:hover {
	color:#e31956 !important;

}

/*.children {
	display:none;
}

.children li {
	font-size:0.85em !important;
	margin:0 0 10px 0 !important;
}

.children li:first-child {
	text-transform:none !important; 
	 letter-spacing:0em !important; 
	 margin-top:10px !important;
}

.children li:last-child {
	margin-bottom:25px !important;
}*/

.show_navigation {
	width:25px;
	height:45px;
	position:fixed;
	left: 92.80%;
	top:20%;
	z-index:9999999;
	cursor:pointer;
}

.show_navigation img {
	width: 150%;
	position:absolute;
	left:0px;
	bottom:0px;
	-webkit-transition:all .3s linear; 
	-moz-transition:all .3s linear; 
	-ms-transition:all .3s linear; 
	-o-transition:all .3s linear; 
	transition:all .3s linear; 
}

.show_navigation img:hover {
	opacity:0.70;
	filter:alpha(opacity=40); /* For IE8 and earlier */ 
}

.close_navigation {
	position:relative;
	width:40px; 
	height:40px; 
	float:right; 
	margin-right:62px; 
	top:-415px;
}

.close_navigation img {
	-webkit-transition:all .3s linear; 
	-moz-transition:all .3s linear; 
	-ms-transition:all .3s linear; 
	-o-transition:all .3s linear; 
	transition:all .3s linear; 
}

.close_navigation img:hover {
	opacity:0.40;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

.navText {
	font-family: 'Lato';
	font-weight: 100;
	font-size: 1.11em;
}

a .navText:active {
	color: #e31956;
} 

/*----------------- End of NAVIGATION -----------------------*/


/*----------------- SPLASH PAGE ----------------------------*/
#splash {
	background-image: url("../Images/Background.jpg");
/*	background-image: url('../Images/Pattern/pattern_about2.png');*/
/*	background-image: url("http://farm4.staticflickr.com/3316/3437374511_b97e230c2e_b.jpg");*/

	height: 100vh;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
 	position: relative;

}

#logo img{
	padding-top: 8%;
	left: 7%;
	max-width: 100px;
	position: fixed;
	/*z-index: 9999;*/
	/*position: absolute;*/

}

#logoWork img {
	padding-top: 9%;
	left: 5%;
	width: 7%;
	position: fixed;
}

div #title {
	font-size: 3.4em;
	font-family: 'Lato' 'san-serif';
	font-weight: 100;
	letter-spacing: 0.1em;
	line-height: 0.6em;
	text-transform: uppercase;
	margin: 0 auto;
	color: white;
	margin: auto;
 	position: absolute;
  	top: 0; left: 0; right: 0; bottom: 0;
  	top: 40%;
  	text-align: center;
}

div #subTitle {
	font-size: .6em;
	font-family: 'Lato';
	font-weight: 700;
	color: #e31956;
	font-style: italic;
	text-transform: capitalize;
}

div #subText {
	font-size: 0.4em;
	font-family: 'Lato';
	font-weight: 100;
	color: white;
	padding-top: 1em;
}

#moveDown {
	width: 40px;
	position: absolute;
	/*top: 85%; left: 92.6%; /* !Use cordinates for RIGHT BOTTOM positioning */
	top: 85%; left: 48%;     /* !Use cordinates for CENTER positioning------ */
}

#moveDown:hover {
	opacity: 0.5;

}

/*----------------- End of SPLASH PAGE ----------------------------*/

/*----------------- QUOTE  ----------------------------*/
#poetic {
	height: 150px;
	width: 100%;
	margin: 0 auto;
 	position: relative;
/*	background-size: 100% 700px;*/
	background-color: white;	
/* 	background-image: url('../Images/Pattern/pattern_about3.png');
 	background-size: 100%;*/


}

#poeticText {
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	position: absolute;
	font-family: 'Lato';
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #001620;
	text-align: center;
	padding-top: 2em;
}
 
#poeticTextSub {
	font-size: 0.7em;
	text-transform: none;
	text-transform: italic;
	color: #e31956;

}


/*----------------- End of QUOTE ----------------------------*/


/*----------------- THUMBNAILS -----------------------*/
#portfolio {
	position: relative;
	overflow: hidden;
}

#squares{
	position: relative;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	
}

.thumbnail img {
	max-width: 25%;
	display: inline-block;
	font-size: 0;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	float: left;
	
}

/*----------------- End of THUMBNAILS ----------------------------*/


/*----------------- ABOUT -----------------------*/

/*#about{
	position: relative;
	height: 1000px;
	background-color: red;
	display: inline;
}*/

.textBody {
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	position: relative;
}

#about #Left {
	width: 60%;
/*	height: 800px;
*/	/*background-color: blue;*/
	display: inline-block;
	position: relative;
	float: left;

}

#about #Left ul li {
	list-style: none;
}


#Experience {

	width: 45%;
/*	background-color: red;
*//*	height: 800px;
*/	display: inline-block;
	position: relative;
	padding-left: 4em;
	padding-top: 4em;
/*	border-right-width: 10px;
	border-right-color: blue;
	border-right: solid;*/
}

.Date {
	font-family: 'Lato';
	font-size: 0.8em;
	font-weight: 700;
}

.Position {
	font-family: 'Lato';
	font-size: 1em;
	font-weight: 300;
}

#Skills {
	width: 48%;
/*	background-color: orange;
*/	/*height: 800px;*/
	display: inline-block;
	position: absolute;
	padding-left: 4em;
	padding-top: 9.761em;
}

#skillSet {
	font-family: 'Lato';
}

#Expertise {
	padding-top: 1em;
}

#about #Right {
	width: 40%;
	height: 800px;
	background-image: url('../Images/Pattern/pattern_about2.png');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	display: inline-block;
	float: left;

}

/* ---- Use code below in the event 
"About Me" picture changes 
- adds a background w/ opacity 
& addresses padding on left and right
------------*/

#spacing {
	
	background-color: rgba(0,0,0,0.2);
	width: 100%;
	height: 90%;
	padding-left: 1em;
	padding-right: 1em;
}



#whoAmI {
	width: 70%;
	position: absolute;
	top: 1em; left: -3em; bottom: 0; right: 0;
	margin: 0 auto;
	float: left;
/*	height: 800px;*/ 
	position: absolute;
	padding-top: 3em;
	color: white;
}
#whoAmIbody {
	font-family: 'Lato';
	font-weight: 100;
	font-size: 1em;	
	letter-spacing: 0.04em;

}

#makeItPink {
	color: #e31956;
	font-family: 'Lato';
	font-weight: 300;
/*	font-style: italic;
*/}

.titleA {
	font-family: 'Lato';
	font-weight: 500;
	font-size: 1.8em;
	text-transform: uppercase;
	color: #e31956;
}

.titleB {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 1.2em;


}
.titleC {
	font-family: 'Lato';
	font-weight: 500;
	font-size: 1.8em;

}
.line {
	color: rgba(60,60,60, 0.2);
	font-weight: 700;
	font-family: 'Lato';
}



.line1 {
	color: rgba(250,250,250, 0.2);
	font-weight: 100;
	font-family: 'Lato';
}

.line-separatorA {
	width: 20%;
	height: 0.8em;
	border-bottom: solid 0.07em rgba(250, 250, 250, 0.2);
	padding-top: 0.5em;
}
.line-separatorB {
	width: 50%;
	height: 0.1em;
	border-bottom: solid 0.07em rgba(250, 250, 250, 0.2);
	padding-top: 4em;
}

#copyright {
	font-family: 'Lato';
	font-weight: 100;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	padding-top: 1.5em;

}

#developer {
	font-family: 'Lato';
	font-weight: 100;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	color: white;

}

#developerName {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	color: #e31956;

}

#BackToTop {
	text-decoration: none;
	font-family: 'Lato';
	font-weight: 200;
	font-size: 1em;
	color: white;
	letter-spacing: 0.1em;
}

#BackToTop:hover {
	color: #e31956;
}
/*----------------- End of ABOUT ----------------------------*/



/***************************************************************/
/*----------------- SUB-SECTIONS ------------------------------*/
/*----------------- PORTFOLIO WORK ----------------------------*/
/***************************************************************/


/*----------------- ALL PAGES --------------------------*/

.image {
	max-width: 55%;
	position: relative;
	display: block;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	padding-top: 5em;
}

#BackToHome {
	text-decoration: none;
	font-family: 'Lato';
	font-weight: 700;
	font-size: 1em;
	letter-spacing: 0.1em;
	text-align: right;
	float: right;
	padding-right: 5%;
	padding-bottom: 5%;
}

#BackToHome:hover {
	color: #e31956;
}

/*----------------- LINKEDIN --------------------------*/

#LinkedIn {
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	/*background-color: #e31956;
  	height: 1000px;*/

}


/*----------------- MIGO -------------------------------*/

.migo {
	position: relative;
	display: block;
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	max-width: 55%;
	
}


/*----------------- ONTARIO ----------------------------*/

/*----------------- NOKIA ------------------------------*/

/*----------------- HADRIAN ----------------------------*/

.hadrian {
	position: relative;
	display: block;
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	max-width: 55%;

}

#hadrianTop {
	padding-top: 5em;
}


/***************************************************************/
/*----------------- End of PORTFOLIO WORK ---------------------*/
/*----------------- End of SUB-SECTIONS -----------------------*/
/***************************************************************/




/* ACCORDING TO MIKE - MAKE A CLASS FOR EVERYTHING I WANT TO HIDE
AND THEN APPLY IT HERE ON @MEDIA SCREEN - ? TEST IT OUT!
@media screen and (max-width: 1000px){

#preloader {
	display: none;
}

.show_navigation {
	display: none;
}

#splash{
	display: none;
}

#poetic{
	display: none;
} 

#portfolio{
	display: none;
} 
#about{
	display: none;
} 
#Right {
	display: none;
}



body .visually_hidden {
	background-image: url('http://www.romainbriaux.fr/images/assets/home_bg.jpg');
}

*/













































/*---- Author Notes: --------------------------------------

Colour values:
#e31956    - pinkish red
#262626    - greyish black
#001620    - Semi-dark blue 
##13181C   - Dark blue
#111111    - darkish grey

Font Family: Lato:  src (http://www.google.com/fonts#UsePlace:use/Collection:Lato)
Navigation Menu Authored by: Tim Brack (http://www.timbrack.de/)
Busted out this website in a few days thanks to Jasper Reyes and Adam Brown.

---------------------------------------------------------*/