/*---- Author Notes: --------------------------------------

Colour values:
#e31956    - pinkish red
#262626    - greyish black
#001620    - dark blue 
#111111    - darkish grey

Font Family: Lato:  src (http://www.google.com/fonts#UsePlace:use/Collection:Lato)

Navigation Menu Authored by: Tim Brack (http://www.timbrack.de/)
Background image: Jules Bassoleil (http://www.julesbassoleil.fr/)
Cycle words: Chris Coyier (http://css-tricks.com/snippets/jquery/cycle-through-a-list/)


---------------------------------------------------------*/


body, 
html {
	padding:0;
	margin:0;
	color:#111;
	background-color:#efefef;
	height:100%;
	font-size:16px;
	line-height:16px;
	overflow:visible;
}


ul, li {
	padding:0;
	margin:0;
}

div {
	position:relative;
}

body {
	overflow-x:hidden;
}

div 
h1 {
	font-size:48px;
	line-height:1.30em;
	margin:0px;
	font-weight:normal !important;
	letter-spacing:5px;
	color:#222;
}

h3 { 
	text-transform:uppercase;
	font-family:'helvetica';
	font-size:70px;
	line-height:0.95em;
	letter-spacing:0.06em;
	padding:0;
	margin:0;
	width:100%;
	font-weight:normal !important;
	color:#fff;
	font-style:normal;
}

h4 {
	font-family:'helvetica';
	font-size:26px;
	line-height:1.3em;
	padding:0px 0 3px 0;
	margin:0px 0 7% -9%;
	letter-spacing:3px;
	font-weight:normal !important;
	text-align:right;
	text-transform:uppercase;
	color:#222;
	width:118%;
	background:#efefef;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	box-sizing:border-box;
}


::selection, 
::-moz-selection, 
::-webkit-selection {
	background:#aaa;
	color:#fff;
}


/*------------------- NAVIGATION  -----------------------*/


ul#navigation {
	position:fixed;
	display:none;
	top:0px;
	right:0px;
	width:100%; 
	background:#111;
	/*background: rgba(0, 0, 0, .92);*/
	height:100%;
	width:460px;
/*	margin-right:-460px;*/
	padding-top:8.750em;
	-webkit-transition: all .3s linear; 
	-moz-transition: all .3s linear; 
	-ms-transition: all .3s linear; 
	-o-transition: all .3s linear; 
	transition: all .3s linear;
	color:#999 !important;
	z-index:988888;
}

ul#navigation img {
	cursor:pointer;
}

ul#navigation li.current_page_item a {
	color:#888 !important;
	/*padding: 0px 14px;*/
}

.active {
	color:#888 !important;
}

ul#navigation li {
	font-family:'Lato' 'san-serif';
	font-weight: 300;
	letter-spacing:0.05em;
	display:block;
	font-size:0.969em;
	text-align:center;
	width:100%;
	height:auto;
	padding:0;
	margin:0 0 0.906em 0;
	position:relative;
}

ul#navigation li:first-child {
	 text-transform:uppercase; 
	 letter-spacing:0.25em; 
	 color:#555;
	 margin-top:3.438em;
}

ul#navigation li a {
	color:#fff;
	text-decoration:none;
}

ul#navigation li a:hover {
	color:#e31956 !important;
}

/*.children {
	display:none;
}

.children li {
	font-size:0.85em !important;
	margin:0 0 10px 0 !important;
}

.children li:first-child {
	text-transform:none !important; 
	 letter-spacing:0em !important; 
	 margin-top:10px !important;
}

.children li:last-child {
	margin-bottom:25px !important;
}*/

.show_navigation {
	width:20px;
	height:40px;
	position:fixed;
	right:75px;
	top:110px;
	z-index:9999999;
	cursor:pointer;
}

.show_navigation img {
	width: 200%;
	position:absolute;
	left:0px;
	bottom:0px;
	-webkit-transition:all .3s linear; 
	-moz-transition:all .3s linear; 
	-ms-transition:all .3s linear; 
	-o-transition:all .3s linear; 
	transition:all .3s linear; 
}

.show_navigation img:hover {
	opacity:0.40;
	filter:alpha(opacity=40); /* For IE8 and earlier */ 
}

.close_navigation {
	position:relative;
	width:29px; 
	height:29px; 
	float:right; 
	margin-right:62px; 
	top:-421px;
}

.close_navigation img {
	-webkit-transition:all .3s linear; 
	-moz-transition:all .3s linear; 
	-ms-transition:all .3s linear; 
	-o-transition:all .3s linear; 
	transition:all .3s linear; 
}

.close_navigation img:hover {
	opacity:0.40;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

/*----------------- NAVIGATION END -----------------------*/



#splash {
	background-image: url("../Images/Background.jpg");
	height: 100vh;
	width: 100%;
	margin: 0 auto;
 	position: relative;

}

div #title {
	font-size: 3.4em;
	font-family: 'Lato' 'san-serif';
	font-weight: 100;
	letter-spacing: 0.1em;
	line-height: 0.6em;
	text-transform: uppercase;
	margin: 0 auto;
	color: white;
	margin: auto;
 	position: absolute;
  	top: 0; left: 0; right: 0; bottom: 0;
  	top: 40%;
  	text-align: center;
}

div #subTitle {
	font-size: .6em;
	font-family: 'Lato';
	font-weight: 300;
	color: #e31956;
	font-style: italic;
	text-transform: capitalize;
}

div #subText {
	font-size: 0.4em;
	font-family: 'Lato';
	font-weight: 100;
	font-style: italic;
	color: white;
	padding-top: 1em;
}

/**********************************************************/
/*----------------- CYCLE WORDS (Thinking about it)-------*/
/**********************************************************/

		/*.rw-sentence{
			
				position: absolute;
				margin: 0 auto;
				text-align: center;
				top: 55%;
				left: 32.5%;

		}


		.rw-words-1 span{
			position: absolute;
			width: 10em;
			font-family: 'Lato';
			font-weight: 100;
			font-size: 1.8em;
			line-height: 2em;
			opacity: 0;
			overflow: hidden;
			color: #e31956;
			-webkit-animation: rotateWord 8s linear infinite 0s;
			-moz-animation: rotateWord 8s linear infinite 0s;
			-o-animation: rotateWord 8s linear infinite 0s;
			-ms-animation: rotateWord 8s linear infinite 0s;
			animation: rotateWord 8s linear infinite 0s;
		}
		.rw-words-1 span:nth-child(2) { 
		    -webkit-animation-delay: 2.67s; 
			-moz-animation-delay: 2.67s; 
			-o-animation-delay: 2.67s; 
			-ms-animation-delay: 2.67s; 
			animation-delay: 2.67s; 
			color: #e31956;
		}
		.rw-words-1 span:nth-child(3) { 
		    -webkit-animation-delay: 5.3s; 
			-moz-animation-delay: 5.3s; 
			-o-animation-delay: 5.3s; 
			-ms-animation-delay: 5.3s; 
			animation-delay: 5.3s; 
			color: #e31956;	
		}*/

		/*@-webkit-keyframes rotateWord {
		    0% { opacity: 0; }
		    2% { opacity: 0; -webkit-transform: translateY(-5px); }
			5% { opacity: 1; -webkit-transform: translateY(0px);}
		    17% { opacity: 1; -webkit-transform: translateY(0px); }
			20% { opacity: 0; -webkit-transform: translateY(5px); }
			80% { opacity: 0; }
		    100% { opacity: 0; }
		}
		@-moz-keyframes rotateWord {
		    0% { opacity: 0; }
		    2% { opacity: 0; -moz-transform: translateY(-5px); }
			5% { opacity: 1; -moz-transform: translateY(0px);}
		    17% { opacity: 1; -moz-transform: translateY(0px); }
			20% { opacity: 0; -moz-transform: translateY(5px); }
			80% { opacity: 0; }
		    100% { opacity: 0; }
		}
		@-o-keyframes rotateWord {
		    0% { opacity: 0; }
		    2% { opacity: 0; -o-transform: translateY(-5px); }
			5% { opacity: 1; -o-transform: translateY(0px);}
		    17% { opacity: 1; -o-transform: translateY(0px); }
			20% { opacity: 0; -o-transform: translateY(5px); }
			80% { opacity: 0; }
		    100% { opacity: 0; }
		}
		@-ms-keyframes rotateWord {
		    0% { opacity: 0; }
		    2% { opacity: 0; -ms-transform: translateY(-5px); }
			5% { opacity: 1; -ms-transform: translateY(0px);}
		    17% { opacity: 1; -ms-transform: translateY(0px); }
			20% { opacity: 0; -ms-transform: translateY(5px); }
			80% { opacity: 0; }
		    100% { opacity: 0; }
		}
		@keyframes rotateWord {
		    0% { opacity: 0; }
		    2% { opacity: 0; transform: translateY(-10px); }
			5% { opacity: 1; transform: translateY(0px);}
		    17% { opacity: 1; transform: translateY(0px); }
			20% { opacity: 0; transform: translateY(10px); }
			80% { opacity: 0; }
		    100% { opacity: 0; }
		}*/



/*----------------- THUMBNAILS -----------------------*/
#portfolio {
	position: relative;
}

#section2 {
	position: relative;
	top: 0;
	margin: 0 auto;
	padding-top: 100vh;


}

.thumbnail img {
	max-width: 25%;
	display: inline;
	float: left;
	margin: 0 auto;
}



/*----------------- ABOUT -----------------------*/

/*#about{
	position: relative;
	height: 1000px;
	background-color: red;
	display: inline;
}*/

.centered {
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	position: absolute;
	padding-left: 1em;
	padding-top: 1em;


}

#about #Left {
	width: 60%;
	height: 1000px;
	background-color: blue;
	display: inline-block;

}

#Experience {

	width: 49%;
	background-color: red;
	height: 100%;
	display: inline-block;
}

#Skills {
	width: 50%;
	background-color: black;
	height: 100%;
	display: inline-block;
}

#about #Right {
	width: 39%;
	height: 1000px;
	background-color: pink;
	display: inline-block;

}

#whoAmI {
	width: 80%;
	position: absolute;
	top: 1em; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	height: 80%;
	background-color: green;
}

