
body, 
html {
	padding:0;
	margin:0;
	
}


ul, li {
	padding:0;
	margin:0;
}

div {
	position:relative;
}

body {
	overflow-x:hidden;
}

div 
h1 {
	font-size:48px;
	line-height:1.30em;
	margin:0px;
	font-weight:normal 
	letter-spacing:5px;
	color:#222;
}

h3 { 
	text-transform:uppercase;
	font-family:'helvetica';
	font-size:70px;
	line-height:0.95em;
	letter-spacing:0.06em;
	padding:0;
	margin:0;
	width:100%;
	font-weight:normal;
	color:#fff;
	font-style:normal;
}

h4 {
	font-family:'helvetica';
	font-size:26px;
	line-height:1.3em;
	padding:0px 0 3px 0;
	margin:0px 0 7% -9%;
	letter-spacing:3px;
	font-weight:normal ;
	text-align:right;
	text-transform:uppercase;
	color:#222;
	width:118%;
	background:#efefef;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	box-sizing:border-box;
}


::selection, 
::-moz-selection, 
::-webkit-selection {
	background:#aaa;
	color:#fff;
}

/*------------------- PRELOADER  -----------------------*/

#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#111111; 
	z-index:99; 
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; 
	top:50%; 
	background-image:url(../Images/status.gif); 
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; 
}

/*------------------- End of PRELOADER -----------------------*/



/*------------------- NAVIGATION  -----------------------*/


ul#navigation {
	position:fixed;
	display:none;
	top:0px;
	right:0px;
	width:100%; 
	background: #111111;
	/*background: rgba(0, 0, 0, .92);*/
	height:100%;
	width:460px;
/*	margin-right:-460px;*/
	padding-top:8.750em;
	-webkit-transition: all .3s linear; 
	-moz-transition: all .3s linear; 
	-ms-transition: all .3s linear; 
	-o-transition: all .3s linear; 
	transition: all .3s linear;
	color:#999;
	z-index:988888;
}

ul#navigation img {
	cursor:pointer;
}

ul#navigation li.current_page_item a {
	color:#e31956;
	/*padding: 0px 14px;*/
}

.active {
	color:#e31956;
}

ul#navigation li {
	font-family:'Lato' 'san-serif';
	font-weight: 300;
	letter-spacing:0.05em;
	display:block;
	font-size:0.969em;
	text-align:center;
	width:100%;
	height:auto;
	padding:0;
	margin:0 0 0.906em 0;
	position:relative;
}

ul#navigation li:first-child {
	 text-transform:uppercase; 
	 letter-spacing:0.25em; 
	 color:#555;
	 margin-top:3.438em;
}

ul#navigation li a {
	color:#fff;
	text-decoration:none;
}

ul#navigation li a:hover {
	color:#e31956;

}

/*.children {
	display:none;
}

.children li {
	font-size:0.85em;
	margin:0 0 10px 0;
}

.children li:first-child {
	text-transform:none; 
	 letter-spacing:0em; 
	 margin-top:10px;
}

.children li:last-child {
	margin-bottom:25px;
}*/

.show_navigation {
	width:20px;
	height:40px;
	position:fixed;
	left: 92.80%;
	top:20%;
	z-index:999;
	cursor:pointer;
}

.show_navigation img {
	width: 150%;
	position:absolute;
	left:0px;
	bottom:0px;
	-webkit-transition:all .3s linear; 
	-moz-transition:all .3s linear; 
	-ms-transition:all .3s linear; 
	-o-transition:all .3s linear; 
	transition:all .3s linear; 
}

.show_navigation img:hover {
	opacity:0.70;
	filter:alpha(opacity=40); /* For IE8 and earlier */ 
}

.close_navigation {
	position:relative;
	width:40px; 
	height:40px; 
	float:right; 
	margin-right:62px; 
	top:-415px;
}

.close_navigation img {
	-webkit-transition:all .3s linear; 
	-moz-transition:all .3s linear; 
	-ms-transition:all .3s linear; 
	-o-transition:all .3s linear; 
	transition:all .3s linear; 
}

.close_navigation img:hover {
	opacity:0.40;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

.navText {
	font-family: 'Lato';
	font-weight: 100;
	font-size: 1.11em;
}

a .navText:active {
	color: #e31956;
} 

/*----------------- End of NAVIGATION -----------------------*/


/*----------------- SPLASH PAGE ----------------------------*/
#splash {
	margin: 0 auto;
 	position: relative;
 	height: 800px;
	background-image: url("../Images/Background.jpg");
/*	background-image: url('../Images/Pattern/pattern_about2.png');*/
/*	background-image: url("http://farm4.staticflickr.com/3316/3437374511_b97e230c2e_b.jpg");*/
	background-color:transparent;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;
	top:0;
	left:0;
}


#logo img{
	padding-top: 11.2%;
	left: 7%;
	max-width: 100px;
	position: fixed;
	/*z-index: 9999;*/
	/*position: absolute;*/

}


div #title {
	font-size: 3.4em;
	font-family: 'Lato' 'san-serif';
	font-weight: 100;
	letter-spacing: 0.1em;
	line-height: 0.6em;
	text-transform: uppercase;
	margin: 0 auto;
	color: white;
	margin: auto;
 	position: absolute;
  	top: 0; left: 0; right: 0; bottom: 0;
  	top: 40%;
  	text-align: center;
}

div #subTitle {
	font-size: .6em;
	font-family: 'Lato';
	font-weight: 300;
	color: #e31956;
	font-style: italic;
	text-transform: capitalize;
}

div #subText {
	font-size: 0.4em;
	font-family: 'Lato';
	font-weight: 100;
	color: white;
	padding-top: 1em;
}

#moveDown {
	width: 40px;
	position: absolute;
	/*top: 85%; left: 92.6%; /* !Use cordinates for RIGHT BOTTOM positioning */
	top: 85%; left: 48%;     /* !Use cordinates for CENTER positioning------ */
}

#moveDown:hover {
	opacity: 0.5;

}

/*----------------- End of SPLASH PAGE ----------------------------*/

/*----------------- QUOTE  ----------------------------*/
#poetic {
	height: 150px;
	width: 100%;
	margin: 0 auto;
 	position: relative;
 	background-color: white;	
/*	background-size: 100% 700px;*/
/* 	background-image: url('../Images/Pattern/pattern_about3.png');
 	background-size: 100%;*/



}

#poeticText {
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	position: absolute;
	font-family: 'Lato';
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #001620;
	text-align: center;
	padding-top: 2em;
}
 
#poeticTextSub {
	font-size: 0.7em;
	text-transform: none;
	text-transform: italic;
	color: #e31956;

}


/*----------------- End of QUOTE ----------------------------*/


/*----------------- THUMBNAILS -----------------------*/
#portfolio {
	position: relative;
	overflow: hidden;
}

#squares{
	position: relative;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	
}

.thumbnail img {
	max-width: 24.9%;
	display: inline-block;
	font-size: 0;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	float: left;
	position: relative;
	padding: 0.5px 0.5px 0px 0.5px;
	
}

.grayscale  img {
	filter: gray;
 	-webkit-filter: grayscale(100%); 
    -webkit-transition: all 0.6s ease;
    -webkit-backface-visibility: hidden;
}

.grayscale img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}


#empty {
	height: 10px;
}


/*----------------- End of THUMBNAILS ----------------------------*/


/*----------------- ABOUT -----------------------*/

/*#about{
	position: relative;
	height: 1000px;
	background-color: red;
	display: inline;
}*/

.textBody {
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	position: relative;
}

#about #Left {
	width: 60%;
	display: inline-block;
	position: relative;
	float: left;
/*	height: 800px; */	
/*  background-color: blue;*/

}

#about #Left ul li {
	list-style: none;
}


#Experience {
	width: 45%;
	display: inline-block;
	position: relative;
	padding-left: 4em;
	padding-top: 4em;
/*	background-color: red; */
/*  height: 800px; */	
/*	border-right-width: 10px; */
/*	border-right-color: blue; */
/*	border-right: solid; */

	
}

.Date {
	font-family: 'Lato';
	font-size: 0.8em;
	font-weight: 700;
}

.Position {
	font-family: 'Lato';
	font-size: 1em;
	font-weight: 300;
}

#Skills {
	width: 48%;
/*	background-color: orange;
*/	/*height: 800px;*/
	display: inline-block;
	position: absolute;
	padding-left: 4em;
	padding-top: 9.761em;
}

#skillSet {
	font-family: 'Lato';
}

#Expertise {
	padding-top: 1em;
}

#about #Right {
	width: 40%;
	height: 800px;
	background-image: url('../Images/Pattern/pattern_about2.png');
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: 'Lato';
	position: absolute;
	display: inline-block;
	float: left;

}

/* ---- Use code below in the event 
"About Me" picture changes 
- adds a background w/ opacity 
& addresses padding on left and right
------------*/

#spacing {
	
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 90%;
	padding-left: 1em;
	padding-right: 1em;
}



#whoAmI {
	width: 70%;
	position: absolute;
	top: 1em; left: -3em; bottom: 0; right: 0;
	margin: 0 auto;
	float: left;
/*	height: 800px;*/ 
	position: absolute;
	padding-top: 3em;
	color: white;
	font-family: 'Lato'
}

#whoAmIbody {
	font-family: 'Lato';
	font-weight: 100;
	font-size: 1em;	
	letter-spacing: 0.04em;

}

#makeItPink {
	color: #e31956;
	font-family: 'Lato';
	font-weight: 500;
/*	font-style: italic;
*/}

.titleA {
	font-family: 'Lato';
	font-weight: 500;
	font-size: 1.8em;
	text-transform: uppercase;
	color: #e31956;
}

.titleB {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 1.2em;


}
.titleC {
	font-family: 'Lato';
	font-weight: 500;
	font-size: 1.8em;

}
.line {
	color: rgba(60,60,60, 0.2);
	font-weight: 700;
	font-family: 'Lato';
}



.line1 {
	color: rgba(250,250,250, 0.2);
	font-weight: 100;
	font-family: 'Lato';
}

.line-separatorA {
	width: 20%;
	height: 0.8em;
	border-bottom: solid 0.07em rgba(250, 250, 250, 0.2);
	padding-top: 0.5em;
}
.line-separatorB {
	width: 50%;
	height: 0.1em;
	border-bottom: solid 0.07em rgba(250, 250, 250, 0.2);
	padding-top: 4em;
}

#copyright {
	font-family: 'Lato';
	font-weight: 100;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	padding-top: 1.5em;

}

#developer {
	font-family: 'Lato';
	font-weight: 100;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	color: white;

}

#mailto {
	text-decoration: none;

}


#developerName {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 0.1em;
	color: #e31956;

}

.contact_show {
	cursor: pointer;
	font-weight: 1000;
	font-size: 1.3em;
}

#BackToTop {
	text-decoration: none;
	font-family: 'Lato';
	font-weight: 200;
	font-size: 1em;
	color: white;
	letter-spacing: 0.1em;
}

#BackToTop:hover {
	color: #e31956;
}

#AboutHiddenTablet {
	visibility: hidden;
}

#AboutHidden{
	visibility: hidden;
}
/*----------------- End of ABOUT ----------------------------*/



/***************************************************************/
/*----------------- SUB-SECTIONS ------------------------------*/
/*----------------- PORTFOLIO WORK ----------------------------*/
/***************************************************************/


/*----------------- ALL PAGES --------------------------*/


/* LOGO ON WORK PAGES

#logoWork img {
	top: 50%;
	left: 5%;
	width: 7%;
	position: fixed;
	z-index: 99999;
}*/


#Parallax {
	overflow: scroll;
	height: 100vh;
	width: 100%;
}

#portfolio_writeup {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 350px;
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: -999;

}

#text_over_background {
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	font-family: 'Lato';
	font-weight: 300;
	font-size: 2.3em;
	color: white;
	text-align: center;
	padding-top: 2em;
	width: 60%;
}


#explain {
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	margin-top: 1em;
	font-family: 'Lato';
	font-weight: 100;
	font-size: 1.1em;
	color: white;
	text-align: center;
	width: 33%;
	word-spacing: 0.2em;

}


#tags{
	text-decoration: none;
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	font-family: 'Lato';
	font-size: 1em;
	font-weight: 300;
	color: #e31956;
	text-align: center;
	width: 80%;
	padding-top: 1em;


}

#tags ul li {
	list-style-type: none;
	display: inline-block;
}



.whiteBackground{
	background-color: white;
	height: 800px;
	width: 100%;

}


/* -- IMAGE SIZE AND POSITIONING ON PAGE --*/
.image {
	max-width: 55%;
	position: relative;
	display: block;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	padding-top: 5em;

}


#BackToHome {
	text-decoration: none;
	font-family: 'Lato';
	font-weight: 700;
	font-size: 1em;
	color: #111111;
	letter-spacing: 0.1em;
	text-align: right;
	float: right;
	padding-right: 5%;
	padding-bottom: 5%;
}

#BackToHome:hover {
	color: #e31956;
}



/*----------------- METRO --------------------------*/

.image_metro {
	max-width: 55%;
	position: relative;
	display: block;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;

}


.metro_background {
	background-image: url('../Work/Metro/Images/background.png');
	background-color:transparent;
	background-position: center;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;
	
	-webkit-box-shadow: inset 0px -114px 205px -96px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -114px 205px -96px rgba(0,0,0,0.75);
	box-shadow: inset 0px -114px 205px -96px rgba(0,0,0,0.75);
}


#explain_metro {
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	margin-top: 1em;
	font-family: 'Lato';
	font-weight: 100;
	font-size: 1.1em;
	color: white;
	text-align: center;
	width: 35%;
	word-spacing: 0.2em;

}


/*----------------- LINKEDIN --------------------------*/
.linkedin_background {
	background-image: url('../Work/LinkedIn/Images/background.png');
	background-color:transparent;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;
	
	-webkit-box-shadow: inset 0px -114px 205px -96px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -114px 205px -96px rgba(0,0,0,0.75);
	box-shadow: inset 0px -114px 205px -96px rgba(0,0,0,0.75);
}


#LinkedIn {
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	/*background-color: #e31956;
  	height: 1000px;*/

}


/*----------------- MIGO -------------------------------*/
.migo_background {
	background-image: url('../Work/Migo/Images/background.png');
	background-color:transparent;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;
	
}

.migo {
	position: relative;
	display: block;
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	max-width: 55%;
	
}


#award {

	text-decoration: none;
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	font-family: 'Lato';
	font-size: 1.3em;
	font-weight: 700;
	color: rgba(255,0,0,0.7);
	text-align: center;
	width: 80%;
	padding-top: 0.5em;

}

/*----------------- FRONT-END DEVELOPMENT ---------------*/
.front_background {
	background-image: url('../Work/Front/Images/background.png');
	background-color:transparent;
	background-position: center;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;
	opacity: 0.9;
	
	-webkit-box-shadow: inset 0px -114px 205px -96px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -114px 205px -96px rgba(0,0,0,0.75);
	box-shadow: inset 0px -114px 205px -96px rgba(0,0,0,0.75);
}




#octocat img:hover {
	opacity: 0.3;
}


.image_front {
	padding-top: 0em;
	max-width: 55%;
	position: relative;
	display: block;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	padding-top: 1em;

}

.image_front:hover {
	opacity: .7;
}

#image_front_1 {
	padding-top: 5em;
}




/*----------------- ONTARIO ----------------------------*/
.ontario_background {
	background-image: url('../Work/Ontario/Images/background.png');
	background-color:transparent;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;
	
	-webkit-box-shadow: inset 0px -114px 205px -96px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -114px 205px -96px rgba(0,0,0,0.75);
	box-shadow: inset 0px -114px 205px -96px rgba(0,0,0,0.75);
}



/*----------------- NOKIA ------------------------------*/
.nokia_background {

/* nokia_background was acting staring. Not sure of value
that was changed. Had to add a second class and create
background in that */
}

.nokia1 {
	height: 300px;
	background-image: url('../Work/Nokia/Images/background.png');
	background-color:transparent;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;
}


/*----------------- HADRIAN ----------------------------*/
.hadrian_background {
	background-image: url('../Work/hadrian/Images/background.png');
	background-color:transparent;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;
}

.hadrian {
	position: relative;
	display: block;
	margin: 0 auto;
	top: 0; left: 0; bottom: 0; right: 0;
	max-width: 55%;

}

#hadrianTop {
	padding-top: 2em;
}

/***************************************************************/
/*----------------- End of PORTFOLIO WORK ---------------------*/
/*----------------- End of SUB-SECTIONS -----------------------*/
/***************************************************************/










/***************************************************************/
/*----------------- @MEDIA QUERIES ----------------------------*/
/***************************************************************/


/*-- DESKTOP ----------------------*/
/*-- Media Querie set for height --*/
@media screen and (max-height: 500px){


ul#navigation{
	overflow: scroll;
	padding-top: 1em;
}
.navText{
	overflow: scroll;
	padding-top: 1em;

}

.close_navigation {
	top:-380px;
}

}

/*-- End of DESKTOP ----------------------------*/
/*---------------------------------------------*/





/*-- TABLET -----------------------*/
/*-- Min-width (641px) and Max-width (1120 px)--*/

@media screen and (min-width: 641px) and (max-width: 1120px){ 


/*-- PORTFOLIO (TABLET) --*/

.thumbnail img {
	max-width: 33%;
}


.blank {
	display: none;
}

#blankFiller {
	display: block;
}

#empty {
	display: none;
}
/*-- End of PORTFOLIO (TABLET) --*/



/*-- ABOUT ME (TABLET) --*/

#Experience {
	width: 75%;
	height: 750px;
	display: inline-block;
	position: relative;
	padding-left: 4em;
	padding-top: 4em;

}

#Skills {
	width: 25%;
}

#about #Right {
	width: 100%;
	height: 700px;
	position: relative;
	background-color:transparent;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:left;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;
	margin-top: 40px;
}

#AboutHiddenTablet {
	visibility: visible;
	font-weight: 100;
}



/*-- End of ABOUT ME (TABLET) --*/

/*-- WORK (TABLET) --*/
#text_over_background {
	font-size: 1.8em;
	width: 80%;
}

#explain {
	
	margin-top: 1em;
	font-size: 1.3em;
	font-weight: 300;
	width: 80%;
	
}

/*-- End of WORK (TABLET) --*/



}
/*-- End of TABLET ----------------------------*/
/*---------------------------------------------*/







/*-- SMARTPHONE ------------------------------*/
/*-- Min-width (0px) and Max-width (640 px) --*/

@media screen and (min-width: 0px) and (max-width: 640px){ 


/* -- NAVIGATION (SMARTPHONE) --*/
	.show_navigation {
		position:fixed;
		width:20px;
		height:40px;
		top: 8%;
		left: 88%;
	}

	.show_navigation img {
		width:25px;
	}

	.close_navigation {
		position:absolute;
		width:29px; 
		height:29px; 
		top: 9.2%;
		left: 88%;

	}

	.close_navigation img {
		width:22px;
	}

	.show_navigation img:hover {
		opacity:1.00;
		filter:alpha(opacity=100); /* For IE8 and earlier */ 
	}

	ul#navigation {
		width:100%;
		margin-right:-100%;
		padding-top:10px;
	}

	ul#navigation li {
		letter-spacing:0.05em;
		display:block;
		text-align:left;
		font-size:16px;
		margin:0 0 11px 23px;
	}

	ul#navigation li:first-child {
		 margin-top:23px;
	}

	#HiddenOnMobile {
		display: none;
	}

/*-- End of NAVIGATION (SMARTPHONE) --*/


/*-- SPLASH PAGE (SMARTPHONE) --*/

#splash {
	height: 568px;

}
div #title {
	font-size: 2em;
}

div #subTitle {
	font-size: 0.8em;
	line-height: 1.2em;
}

div #subText {
	font-size: 0.5em;
}

#moveDown {
	visibility: hidden;
}

/*-- End of SPLASH PAGE (SMARTPHONE) --*/


/*-- QUOTATION (SMARTPHONE)--*/

#poetic {
	height: 250px;

}

#poeticText {
	padding-top: 3.5em;
	font-size: 1.1em;
	padding-left: 1em;
	padding-right: 1em;

}

#poeticTextSub {
	font-size: 1em;

}

/*-- End of QUOTATION (SMARTPHONE)--*/


/*-- PORTFOLIO (SMARTPHONE) --*/

.thumbnail img {
	max-width: 100%;
}


.blank {
	display: none;
}

/*-- End of PORTFOLIO (SMARTPHONE) --*/



/*-- ABOUT ME (SMARTPHONE) --*/

#about {
	display: none;
}

#AboutHidden {
	height: 500px;
	padding-top: 2em;
	visibility: visible;
	color: white;
	background-image: url('../Images/Background_mobile.png');
	background-color:transparent;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;
	
}

#MobileAbout {
	font-family: 'Lato';
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
	max-width: 80%;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	padding-top: 2em;
	background-color: rgba(0,0,0,0.2);
}

#feelFree {
	font-family: 'Lato';
	font-size: 1em;
	font-style: italic;
	font-weight: 300;
	text-align: center;
	max-width: 80%;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1.5em;
	background-color: rgba(0,0,0,0.2);

	
}

#copyrightMobile {
	font-family: 'Lato';
	font-size: 0.8em;
	text-align: center;
	max-width: 80%;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	padding-top: 0.3em;
	background-color: rgba(0,0,0,0.2);
}


#copyrightDeveloperName {
	color: #e31956;
}
/*-- End of ABOUT ME (SMARTPHONE) --*/



/*-- WORK (SMARTPHONE) --*/


#text_over_background {
	font-size: 1.4em;
	width: 80%;
}

#explain {
	
	margin-top: 1em;
	font-size: 1em;
	font-weight: 400;
	width: 80%;
	
}

#explain_metro {
	margin-top: 1em;
	font-size: 1em;
	font-weight: 400;
	width: 80%;

}


.image {
	max-width: 100%;
	position: relative;
	display: block;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	padding-top: 5em;
  	background-color:transparent;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:left;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;

}

.image_metro {
	max-width: 100%;
	position: relative;
	display: block;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	padding-top: 5em;
  	background-color:transparent;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:left;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;

}
.image_front {
	padding-top: 0em;
	max-width: 100%;
	position: relative;
	display: block;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	padding-top: 0.3em;
}


#BackToHome { 
	padding-top: 1em;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
}

.hadrian {
	max-width: 100%;
	position: relative;
	display: block;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	background-color:transparent;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:left;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;
  }

.migo {
	max-width: 100%;
	position: relative;
	display: block;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	background-color:transparent;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:left;
	background-clip: border-box;
	background-origin:padding-box;
	background-size:cover;

}



	/*-- MIGO --*/
		#award {
			font-size: 1em;
		}

	/*-- End of MIGO --*/

/*-- End of WORK (SMARTPHONE) --*/

}

/*-- End of SMARTPHONE ----------------------------*/
/*---------------------------------------------*/





/*---- Author Notes: --------------------------------------

Colour values:
#e31956    - pinkish red
#262626    - greyish black
#001620    - Semi-dark blue 
##13181C   - Dark blue
#111111    - darkish grey

Font Family: Lato:  src (http://www.google.com/fonts#UsePlace:use/Collection:Lato)
Navigation Menu Authored by: Tim Brack (http://www.timbrack.de/)
Busted out this website in a few days thanks to Jasper Reyes and Adam Brown.

---------------------------------------------------------*/