/*-- Colors -- */
$grey : #333333;
$light-grey: #adadad;
$off-white: #f8f8f8;


/* -- Styles --*/
$shadow : 15px 55px 80px -25px rgba(50,68,100,.25);

.skew_neg_17deg {
	transform: translate3d(0px, -231.39159px, 0px) skewY(-17deg);
    -webkit-transform: translate3d(0px, -231.39158px, 0px) skewY(-17deg);
    -moz-transform: translate3d(0px, -231.39158px, 0px) skewY(-17deg);
    -o-transform: translate3d(0px, -231.39158px, 0px) skewY(-17deg);
}

.skew_17deg {
	transform: translate3d(0px, -231.39159px, 0px) skewY(17deg);
    -webkit-transform: translate3d(0px, -231.39158px, 0px) skewY(17deg);
    -moz-transform: translate3d(0px, -231.39158px, 0px) skewY(17deg);
    -o-transform: translate3d(0px, -231.39158px, 0px) skewY(17deg);
}


/* ============================================
--------------- Base Style  -------------------
============================================== */

body {
	background-color: $grey;
    color: $grey;
    margin: 0;
    padding: 0;
    font-family: 'Lato', Helvetica;
    height: 5000px;
    
    /* Disables excess horizontal scroll when the menu is open */
    overflow-x: hidden;     

    /* Disables selection of text */
    -webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;          /* Likely future */ 

  	/* Default cursor styles */
  	cursor: default;
  	//cursor:crosshair;

}

h1, h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix {display:inline-block;}

/* Hide from IE Mac \*/
    .clearfix {display:block;}
/* End hide from IE Mac */


/* ============================================
--------------- Progress Bar ------------------
============================================== */
progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  z-index:9999;

  /* Dimensions */
  width: 100%;
  height: .25em;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: red;
}

progress::-webkit-progress-bar {
  background-color: transparent;
  color: red;
}



#progressBar::-webkit-progress-value {
	background-color: $light-grey;
}

#progressBar::-moz-progress-value {
	background-color: $light-grey;
}


/* ============================================
--------- Navigation slide out  ---------------
============================================== */

.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  background: $grey;
  overflow:auto;
  overflow-y:scroll;

	.nav_item {
	  width: 100%;
	  height: 50px;

	  	a {
		  display: block;
		  padding: 1em 0;
		  color: $off-white;
		  font-size: 0.8em;
		  text-decoration: none;
		  text-transform: uppercase;
		  letter-spacing: 2px;
		}

		a:hover {
		  	font-weight: 600;
		  	color: white;
		}

	}

	.nav_bottom {
	    width: 140px;
	    font-size: 10px;
	    line-height: 15px;
	    position: absolute;
	    bottom: 40px;
	    letter-spacing: 1px;
	    opacity: 0.5;
	}
}


/* Nav animations */
.nav_trigger + label, .site_wrap {
  transition: left 0.2s;
}

.nav_trigger:checked + label {
  left: 215px;
}

.nav_trigger:checked ~ .site_wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

/* Nav Trigger */
.nav_trigger {
  position: fixed;
  clip: rect(0, 0, 0, 0);
}

label[for="nav_trigger"] {
  position: fixed;
  left: 25px; 
  top: 25px;
  z-index: 2;
  height: 25px;
  width: 30px;
  cursor: crosshair;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
  	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ============================================
----------- Entire site content ---------------
============================================== */

.site_wrap {
  min-height: 100%;
  min-width: 100%;
  max-width: 1400px;
  background-color: #e9eaea;
  position: relative;
  top: 0px;
  bottom: 100%;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
}


.dash {
	display: block;
	width: 30px;
	height: 6px;
	background-color: $grey;
	margin-bottom: 10px;
}

/* ============================================
---------------- Container Home ---------------
============================================== */

.container_home {
	display: block;
    position: relative;
    margin: 0 auto;
    height: 800px;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

	.home_name {
	  	border: 6px solid $off-white;
	    color: $off-white;
	    cursor: crosshair;
	    height: 142px;
	    width: 520px;
	    position: relative;
	    top:0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
	    margin-top: 300px;
	    -moz-transition: all .2s ease;
	    box-shadow: $shadow;
	   
	   h1 {
		font-size: 3em;
		text-align: center;
		text-transform: uppercase;	
		letter-spacing: 10px;
		margin-bottom: 10px;
		margin-top: 20px;
		} 

		>span:nth-of-type(1) {
			border-top: 4px solid $off-white;
		    width: 75%;
		    margin: auto;
		    text-align: center;
		    display: block;
		    margin-top: -6px;
		    margin-bottom: 6px;
		}

		.home_title {
			font-size: 1.5em;
			text-align: center;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 4px;
			margin-bottom: 20px;

		}

		.home_skewed_rect {
			@extend .skew_neg_17deg;
			background-color: $grey;
		    width: 550px;
		    height: 200px;
		    display: block;
		    position: absolute;
		    z-index: -1;
		    margin: 0 auto;
		    margin-left: -15px;
		    margin-top: 56px;
		    -webkit-backface-visibility: hidden;
			outline: 1px solid transparent;

		}

	}

}


/* ============================================
---------------- Container About --------------
============================================== */

.container_skewed_about {
	@extend .skew_neg_17deg;
	background-color: rgba(248,248,248, 0.5);
    width: 100%;
    height: 850px;
    display: inline-block;
    z-index: -1;
    margin: 0 auto;
    float: left;
    position: relative;
    clear: both;
   	-webkit-backface-visibility: hidden;
	outline: 1px solid transparent;

	// Flexbox ----------//
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  
  	-webkit-flex-flow: row wrap;
  	justify-content: space-around;

	.about_experience {
		@extend .skew_17deg;
		display: block;
	    position: relative; 
	    margin: 0 auto; 
	    height: 400px;
	    width: 100%;
	    margin-top: 465px;

		.about_text {
		padding: 4em;
		width: 45%;
	    float: left;

		h1 {
			text-transform: uppercase;
		    font-size: 3em;
		    font-weight: 600;
		    line-height: 50px;
		    letter-spacing: 10px;
		    margin: 0;
		    margin-bottom: 30px;
		}

		p{
			font-size: 1em;
		    font-weight: 400;
		    line-height: 25px;
		    letter-spacing: 1px;
		    width: 549px;
		    margin: 0;

		    span {
		   	    line-height: 23px;
			    padding-top: 10px;
	    		display: block;
			 }
		}

		ul {
			padding: 0;
			padding-top: 10px;
			margin: 0;
			text-transform: uppercase;
			font-weight: 600;
			cursor: default;
			margin-top: 10px;

			li {
				list-style-type: none;
				display: inline-block;
				margin: 0;
				border: 6px solid;
				padding: 6px;
			}

			li:nth-of-type(2) {
				margin: 0 10px;
			}
		
		}
	}



		.selfie {
			display: block;
			width: 40%;
	    	float: right;
			-moz-transform: scaleX(-1);
		       -o-transform: scaleX(-1);
		       -webkit-transform: scaleX(-1);
		       transform: scaleX(-1);
		       filter: FlipH;
		       -ms-filter: "FlipH";
		
		      img {
		      	display: block;
		      	width: 100%;
		      }

		        svg {
		        	stroke-width: 0.1px;
    				stroke-opacity: 1;
    				stroke: #10150b;
    				width: 120%;
		        }
		}
	}
}


/* ============================================
---------------- Container Work --------------
============================================== */

.container_work {
	width: 100%;
	height: 850px;
	display: block;
	padding: 4em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;

	// Flexbox ----------//
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  
  	-webkit-flex-flow: row wrap;
  	justify-content: space-around;


	.work_title {
		width: 100%;
		position: relative;
		top: -150px;
		height: 100px;

		h1 {
			text-transform: uppercase;
			font-size: 3em;
			font-weight: 600;
			line-height: 50px;
			letter-spacing: 10px;
			margin: 0;
			margin-bottom: 30px;
		}

		h1,.dash {
			float: right;
			clear: both;
		}

		.dash {
		}
	}
}


.flex-container {
  	padding: 0;
  	margin: 0;
  	list-style: none;
 	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	-webkit-flex-flow: row wrap;
  	justify-content: space-around;
  	cursor: pointer;
  	//margin-top: 450px;
  	//@extend .skew_neg_17deg;
  	width: 100%;

  	.box {
   		margin: 2em 0;
   		border: 10px solid transparent;
   		list-style: none;
   		width: 100%;
   		//@extend .skew_17deg;

   		ul {
   			padding-left: 0;
   		}
   	}

   	.flex-item {
	  background: tomato;
	  padding: 6px;
	  width: 100%;
	  height: 250px;
	  margin-top: 10px;
	  list-style: none;
	 
	  line-height: 250px;
	  color: white;
	  font-weight: bold;
	  font-size: 3em;
	  text-align: center;
	  
	  background-size: cover;
	  background-clip: content-box;
	  box-sizing: border-box;
	  position: relative;



	}

	.flex-item:before {
	  content: "";
	  display: block;
	  position: absolute;
	  border: 50px solid transparent;
	  border-top: 50px solid #e9eaea;
	  top: -45px;
	  left: -45px;
	  transform: rotate(135deg);
	}

}






























