

body{
	background-image: url("./images/polkadot.png");
	background-color: rgba(38,38,38,1);
	background-repeat: repeat;
}	

#wrapper { 
 	margin:0 auto; 
 	text-align:center; 
}

/*-Logo -------------------------------------*/ 

#logo {
	position: relative;
	padding-top:80px;
	}


/*-Pargraph - Coming soon -------------------*/ 

#comingsoon{
	color: white;
	font-size: 1.3em;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.6em;
}

#name {
	/*color: #ef4a53;*/
	/*color: #019875;*/
	color: #e31956;
}

#portfoliolink {
	/*color: #ef4a53;*/
	/*color: #019875;*/
	color: #e31956;
	text-decoration: none;
}

#strikeout {
	text-decoration: line-through;
}

/*-Social Media Icons ----------------------*/ 

#social {
	background-color: none;
 	display:inline-block;
 	height:50px;
 	padding-top:30px;
 	width:50%;
 	
 	}

div.icons { 
	display:inline-block;
	margin-left:20px;
	padding-left:40px;
	padding-right:40px; 
	position:relative; 
} 

div.icons img{
	height:40px;
	margin-left: 20px;
	text-align: center;
}

img.a {
	position: absolute;
	left: 0;
	top: 0;
    z-index: 10;
	}
 
img.b {
	position: absolute;
	left: 0;
	top: 0;
	}


/*-Media Queries  ----------------------*/ 

@media screen and (max-width: 350px) {

	div #logo img {max-width: 250px;}
}


@media screen and (max-width: 1080px) {

#social {
 	width:85%;
 	height:100px;
 	}

}
@media screen and (max-width: 624px) {

#social {width: 100%;}

}

@media screen and (max-width: 540px) {

#comingsoon{font-size: 16px;}

#social {
 	width:100%;
 	padding-top: 0;

 	}

.lower {
	margin-top: 50px;
}

div.icons {padding-left: 0;}
div.icons img{
	text-align: center;
	height:40px;
	margin-left: 0px !important;

}

}