

body{
	background-image: url("./images/polkadot.png");
	background-color: rgba(38,38,38,1);
}	

#wrapper { 
 	margin:0 auto; 
 	text-align:center; 
}

#social {
 	width:40%;
 	height:50px;
 	background-color: none;
 	display:inline-block;
 	padding-top:30px;
 	}

div.icons { 
	margin-left:20px;
	padding-left:40px;
	padding-right:40px; 
	position:relative; 
	display:inline-block;

} 

#logo {
	position: relative;
	padding-top:80px;
	}

div.icons img{
	text-align: center;
	height:40px;
	margin-left: 20px;
}

#comingsoon{
	font-size: 1.3em;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.6em;
}

#name {
	color: #ef4a53;
}

#portfoliolink {
	color: #ef4a53;
	text-decoration: none;
}

img.a {
	position: absolute;
	left: 0;
	top: 0;
    z-index: 10;
	}
 
img.b {
	position: absolute;
	left: 0;
	top: 0;
	}