body {margin: 0px;}

.left-column {
	float: left;
	width: 400px;
	height: 100vh;
	min-height: 400px;
	background-color: rgba(163,177,178, 0.5);
}
.profile-image {
	background-image: url(images/me.jpg);
	background-size: 200%;
	background-position: 226px 0px;
	border-radius: 320px;
	border: 5px solid #ECF0F1;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	margin-top: 45%;
	box-shadow: -2px 2px 4px rgba(51,51,51,0.1);
}

.profile-title {
	font-family:'Lato','Open Sans' helvetica;
	text-transform: capitalize;
	font-weight: 300;
	font-size: 2em;
	text-align: center;
	color: #333333;
	margin-bottom: 0;
	cursor: default;
}

.profile-sub {
	font-family: 'Lato','Open Sans', helvetica;
	font-weight: 300;
	text-align: center;
	color: #333333;
	font-size: 1.1em;
	margin-top: 5px;
	cursor: default;
}


.contact-directory {
	list-style: none;
	font-family: 'Lato', 'Open Sans', helvetica;
	line-height: 34px;
	text-align: center;
	padding-left: 0;
	cursor: pointer;
	font-weight: 300;
	margin-top: -12px;
}

.contact-directory li {
	display: inline-block;
}

.contact-directory li:nth-of-type(1) {
	padding-right: 40px;
}

.contact-directory li:nth-of-type(2) {
	padding-right: 40px;
}

.contact-directory a {
	text-decoration: none;
	color: rgba(51, 51, 51, 0.5);
}
.contact-directory a:hover {
	color: #E74C3C;
}

.copyright {
	font-family: 'Lato','Open Sans', helvetica;
	font-weight: 300;
	text-align: center;
	color: rgba(51, 51, 51, 0.5);
	margin-top: 23em;
	cursor: default;

}

.right-column {
	float: left;
	font-family: 'Noto-Serif','Open Sans', helvetica;
	cursor: default;
	margin-left: 5em;
	margin-top: 3em;
	color: rgba(0,0,0,0.5);

}



/*-Media Queries  ----------------------*/ 

@media screen and (max-width: 350px) {

	div #logo img {max-width: 250px;}
}


@media screen and (max-width: 1080px) {

#social {
 	width:85%;
 	height:100px;
 	}

}
@media screen and (max-width: 624px) {

#social {width: 100%;}

}

@media screen and (max-width: 540px) {

#comingsoon{font-size: 16px;}

#social {
 	width:100%;
 	padding-top: 0;

 	}

.lower {
	margin-top: 50px;
}

div.icons {padding-left: 0;}
div.icons img{
	text-align: center;
	height:40px;
	margin-left: 0px !important;

}

}

@media screen and (max-width: 330px) {

}




