@use 'mobile'; 

/* ============================================
--------------- Reusable styles----------------
============================================== */

/*-- Colors -- */
$grey : #333333;
$text-grey: #78797A;
$light-grey: #adadad;
$off-white: #f8f8f8;
$background: #231F20;




/* ============================================
--------------- Fonts   -------------------
============================================== */
/* GT-SECTRA FONT FAMILY */


/* BOLD WEIGHT */

@font-face {
    font-family: 'GTSectraFine';
    src: url('../style/fonts/GTSectraFine-Bold.woff2') format('woff2'),
        url('../style/fonts/GTSectraFine-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GTSectraFine';
    src: url('../style/fonts/GTSectraFineBold-Italic.woff2') format('woff2'),
        url('../style/fonts/GTSectraFineBold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

/* MEDIUM WEIGHT */

@font-face {
    font-family: 'GTSectraFine';
    src: url('../style/fonts/GTSectraFine-Medium.woff2') format('woff2'),
        url('../style/fonts/GTSectraFine-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* REGULAR WEIGHT */

@font-face {
    font-family: 'GTSectraFine';
    src: url('../style/fonts/GTSectraFine-Regular.woff2') format('woff2'),
        url('../style/fonts/GTSectraFine-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GTSectraFine';
    src: url('../style/fonts/GTSectraFine-RegularItalic.woff2') format('woff2'),
        url('../style/fonts/GTSectraFine-RegularItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

/* FINE WEIGHT */

@font-face {
    font-family: 'GTSectraFine-Book';
    src: url('../style/fonts/GTSectraFine-BookItalic.woff2') format('woff2'),
        url('../style/fonts/GTSectraFine-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GTSectraFine-Book';
    src: url('../style/fonts/GTSectraFine-Book.woff2') format('woff2'),
        url('../style/fonts/GTSectraFine-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/*
/* BOOK/LIGHT 

@font-face {
    font-family: 'GTSectra-book';
    src: url('../style/fonts/GTSectra-Book.woff2') format('woff2'),
        url('../style/fonts/GTSectra-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GTSectra-book';
    src: url('../style/fonts/GTSectra-BookItalic.woff2') format('woff2'),
        url('../style/fonts/GTSectra-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* REGULAR WEIGHT 

@font-face {
    font-family: 'GTSectra';
    src: url('../style/fonts/GTSectra-RegularItalic.woff2') format('woff2'),
        url('../style/fonts/GTSectra-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GTSectra';
    src: url('../style/fonts/GTSectra-Regular.woff2') format('woff2'),
        url('../style/fonts/GTSectra-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* MEDIUM WEIGHT 

@font-face {
    font-family: 'GTSectra';
    src: url('../style/fonts/GTSectra-Medium.woff2') format('woff2'),
        url('../fstyle/onts/GTSectra-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* BOLD WEIGHT 

@font-face {
    font-family: 'GTSectra';
    src: url('../style/fonts/GTSectra-BoldItalic.woff2') format('woff2'),
        url('../style/fonts/GTSectra-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GTSectra';
    src: url('../style/fonts/GTSectra-Bold.woff2') format('woff2'),
        url('../style/fonts/GTSectra-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
 */

/* ============================================
--------------- Base Style  -------------------
============================================== */


body, 
html {
	padding:0;
	margin:0;
	overflow-x: hidden;	
}

body {
	overflow-x:hidden;
  color: $grey;
  font-family: 'GTSectraFine';
  font-weight: normal;
  font-style: normal;
}

a {	
  color: $grey;
  text-decoration: none;

}


/* ============================================
--------------- GRID BASE STYLING  ------------
============================================== */

.container {
  margin: 121px auto 22px auto;
  box-sizing: border-box;
  position: relative;
  max-width: 1100px;
  min-height: 88px;
  padding: 0 50px;
  margin-bottom: 22px;
  font-size: 1rem;
}

.grid {
  width: 75%;
  display: inline-block;
  text-align: justify;
  vertical-align: top;
}

.grid_left {
  min-width: 400px;
}

.grid_right {
     padding-left: 75px;
}

@media only screen and (max-width: 1020px) {
  .grid {
    width: 100%;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
  }
  .grid_right {
    padding-left: 40px;
  }
}


@media only screen and (max-width: 900px) {
  .grid {
    width: 100%;
  }

  .grid_right {
    padding-left: 0px;
  }

}


/* ============================================
--------------- BIO  --------------------------
============================================== */

.header {
  font-size: 2.6em;
  font-weight: bold;
  line-height: 50px;
  font-family: 'helvetica';
  font-style: normal;
  position: fixed;

}

.bio_container {
  min-height: 800px;
  margin-bottom: 100px;

  .bio_img {
    max-width: 400px;
    display: block;
    float: right;
    position: fixed;
    z-index: -1;

    img {
      width: 100%;
    }
  }

  .bio {

    font-family: 'GTSectraFine';
    font-style: normal;
    padding: 30px 0 0 0;



    .bio_name {
      font-size: 2.6em;
      font-weight: bold;
      line-height: 50px;

      span {
        font-family: 'GTSectraFine-Book';
        font-weight: 300;
      }
    }


    .kenya {
      border-bottom: 2px dotted $grey;
    }

    .kenya_png{
      display: none;
      position: fixed;
      width: 450px;
      z-index: 1;
      right: 200;
      top: 200;

    }

    .kenya:hover{
      cursor: crosshair;
    }

    .kenya:hover .kenya_png {
      display: block;
      position: fixed;
    }

    .bio_copy {
      font-family: 'GTSectraFine-Book';
      font-weight: 300;
      text-align: left;
      font-size: 1.6em;
      line-height: 1.5em;

    }

    a{
        border-bottom: 2px solid $grey;
      }
  

    .contact {
      text-decoration: none;
      display: block;
      margin-top: 40px;

      a {
        margin-right: 10px;
        border-bottom: 2px solid $grey;

        :visited {
          color: red;
        }
      }
    }

    .bye {
      padding-top: 30px;
    }

    .bye_label {
      font-style: italic;
    }

    .bye_name {
      font-family: 'GTSectraFine';
      font-weight: bold;
    }
  }
}


/* ============================================
--------------- BIO  --------------------------
============================================== */

@media only screen and (max-width: 500px) {

.bio_container {
  .bio_img { min-width: auto;}
}

}




