/* ============================================
--------------- Reusable styles----------------
============================================== */
/*-- Colors -- */
/* ============================================
--------------- Base Style  -------------------
============================================== */
body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  background-color: #f8f8f8;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  /* Disables selection of text */
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  /* Default cursor styles */
  cursor: default; }

ul, li {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  color: #333333; }

a:hover {
  color: #333333; }

a:visited {
  color: #333333; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

/* Hide from IE Mac \*/
.clearfix {
  display: block; }

/* End hide from IE Mac */
/* ============================================
--------------- Base Style  -------------------
============================================== */
.page_container {
  text-align: left;
  margin-left: 100px;
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  margin: 10px 50px;
  letter-spacing: 0px;
  font-weight: bold;
  padding: 50px;
  max-width: 445px; }
  .page_container .redacted {
    color: black;
    background: black;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
    .page_container .redacted :hover {
      background: black; }
  .page_container a {
    border-bottom: 1px solid #333333; }
  .page_container .clients {
    margin-bottom: 0px; }
  .page_container .contact_p {
    margin-top: 100px; }
    .page_container .contact_p .contact {
      font-size: 10px; }
  .page_container .footer {
    font-size: 10px; }

h3 {
  font-size: 200px;
  margin-left: -100px; }

.link {
  margin-bottom: 10px;
  border-bottom: 1px solid black; }
  .link :hover {
    border-bottom: 1px solid #333333; }

/* Dropdown Button */
.dropbtn {
  margin-bottom: 10px;
  border-bottom: 1px solid black; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #adadad; }

.dropdown-content a.redacted:hover {
  background-color: black;
  color: #adadad;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: none; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
@media only screen and (max-width: 480px) {
  .page_container {
    padding-left: 0px; } }
@media only screen and (max-width: 380px) {
  .page_container {
    padding-left: 0px;
    padding-right: 0px; } }

/*# sourceMappingURL=main.css.map */