/* ===========================================================
---------------- Vows Specfic ----------------------------
============================================================= */

/*-- Colors -- */
$grey : #333333;
$light-grey: #adadad;
$off-white: #f8f8f8;
$background: #e9eaea;

$shadow : 0px 1px 20px 4px rgba(50, 68, 100, 0.25);
$shadow_short: 0px 25px 70px -25px rgba(50,68,100,.25);



body {
	background: white;
	color: $grey;
	max-width: 98%;
	margin: auto;
	border-radius: 20px;
}

.vows-container {
	//border-top: 10px solid #000000;
	margin: 0;
	background: white;
	box-shadow: $shadow;
	max-width: 98%;
	height: 100vh;
	margin: 0 auto;
	margin-top: 20px;
	padding: 50px;
	overflow: overlay;

	.vows-date {
		text-align: center;
		border-bottom: 4px solid $grey;
		padding-bottom: 16px;
		margin: 0 auto;
		margin-top: 50px;
		width: 100px;
		font-family: lato;
		font-weight: 600;
		letter-spacing: 1px;
	}

	h1{
		font-family: Libre Baskerville;
		font-size: 54px;
		font-weight: bold;
		text-align: center;
		margin-top: 100px;

	}

	p {
		font-family: lato;
		font-weight: 300;
		color: $light-grey;
		max-width: 500px;
		line-height: 24px;
		letter-spacing: 0.2px;
		text-align: center;
		margin: 0 auto;
		margin-top: 20px;

	}

	dl.custom-counter {
		counter-reset: counter;
		max-width: 660px;
		margin: 0 auto;
		font-family: lato;

		dt {
			position: relative;
		    font-size: 22px;
		    font-weight: bold;
		    line-height: 36px;
		    margin: 0;
		    padding-left: 40px;
		    padding-top: 30px;
		}

		dt:before {
			content: counter(counter)'.';
			counter-increment: counter;
			position: absolute;
    		left: 0;
    		top: 0;
    		font-size: 22px;
    		font-family: lato;
    		font-weight: bold;
    		padding-top: 30px;
		}

	}

}



@media only screen and (max-width: 480px) {


.vows-container {

	.vows-date {
		margin-top: 20px;
	}

	h1{
		font-size: 34px;
		margin-top: 50px;
	}

	p {
		font-family: lato;
		font-weight: 300;
		color: $light-grey;
		max-width: 500px;
		line-height: 24px;
		letter-spacing: 0.2px;
		text-align: center;
		margin: 0 auto;
		margin-top: 20px;

	}

	dl.custom-counter {


		dt {
		    font-size: 16px;
		    line-height: 30px;
		}

		dt:before {
			content: counter(counter)'.';
			counter-increment: counter;
			position: absolute;
    		left: 0;
    		top: 0;
    		font-size: 22px;
    		font-family: lato;
    		font-weight: bold;
    		padding-top: 30px;
		}

	}

}

}