#face {
	min-width: 300px;
	margin-top: 10.8em;
	margin-left: 35em;
}

#eye {
	position: absolute;
	margin: 0 auto;
	top:25em;
	left: 40em;
}


#eyebrows{
	min-width: 11.25em;
	position: absolute;
	top: 21.5em;
	left: 39.1em;
}


.back {
	position: absolute;
	top: 11.4em;
	left: 35.6em;
	z-index: -10;
}


.front:active {

	opacity: 0;

}
