nav {background-color: #432116;
}


nav ul li { color:#E0CFC4;
			display: inline;
			text-align: center; 
}


div { text-align: center;
}


h2 { color:#432116;
}


p{color:#432116;
}


footer {
	background-color: #E0CFC4;
}


#Left {padding: 10px;}

#Right {padding: 10px;}

