body {

	background-color: #e4e4e4;
	font-family: 'Open Sans', sans-serif;
	color: #333;
}


.gif {
	max-width: 75%;
	margin: 0 auto;
	padding: 25px 0;
}

.gif img {max-width: 100%;}

p { 
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.list {
	text-align: center;
	margin: 0 auto;
	margin: 10% 0;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	font-size: 28px;
	padding: 0 40px;
	color: #333;
}

a:link { color:black;
	text-decoration: none;
}
a:visited {
	text-decoration: underline;
	color: #333;
}

ul li a:visited { 
	text-decoration: line-through;
	color: #333;
}
.inspiration-links {
	display: inline-block;
	padding: 10px 0 45px 0;
}

.wordpress-links {
	padding: 20px 0 45px 0;
	max-width: 75%;
	text-align: center;
	margin: 0 auto;
	line-height: 65px;
}


.wordpress {font-size: 32px;
	font-weight: bold;
	text-align: center;
	}

.nav-img {
	left: 10%;
	top: 55px;
	z-index: 9990;
	position: fixed;

}

.nav-img img {width: 40px;}