	
html body{
	padding: 0;
    margin: 0;
    width: 100%;

}

header {
	

	box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.8 );
	background-color: rgba(255, 255, 255,1);
	margin: -10px 0px 0px -10px;
	overflow-x:hidden;
	position: fixed;
	width: 101%;
	height:90px;
	z-index: 1;

}

nav{
	text-align: center;
	width: 100%;
	position: fixed;
	height: 5px;
	color: red;
}

nav div {
	display: inline-block;
	font-family: Helvetica;
	font-size:20px;
	padding: 0 25px 0px 25px;
	vertical-align: middle;

}

nav div a{
	color: rgb(68,88,92);
	display: block;
	padding: 15px;
	padding-bottom: 20px;
	text-decoration: none;

}

#logo {
	max-width: 100px;
	vertical-align: middle;
	z-index: 1000;
	padding-top: 10px;

}

/*-- FIRST SECTION --------------------------------*/


#slideshow { 
    position: relative;
    max-width: 100%;

}

#slideshow > div { 
    position: absolute; 

}

/*-- SECOND SECTION --------------------------------*/

.portfolio{
	padding-top: 700px;
	clear: both;
	margin-bottom: 700px;

}

.row img {
	max-width: 33%;
	margin: auto;
	float: left;
	padding: 1px 1px;
	margin: 0 auto;
}

.row img:hover {
	opacity: 0.6;
	
 	transition: img all 0.2s ease-in-out;
 	img
}





/*-- THIRD SECTION --------------------------------*/
#jasper   {  width:100%;
           height:500px;
     
          border-bottom:2px solid #fff;
          border-right:2px solid #fff;
          margin:5% auto 0 auto; 
          background:url(../images/about/chi1.png);
  		  background-size:cover;
		  overflow:hidden;
		  }

#overlay    {  background:rgba(0,0,0,.05);
               text-align:center;
               padding: 420px 0 66px 0;
               opacity:0;
               -webkit-transition: opacity .25s ease;}

#jasper:hover #overlay {
               opacity:1;}

#plus       {  font-family: 'Varela Round', sans-serif;
               font-weight:500;
               color:rgba(255,255,255,.85);
               font-size:26px;}

#text {
	font-size: 1.7em;
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;
	z-index: 1000;
	background-color: rgba(255,255,255,0.9);
}

.middle {
	color: rgb(27,28,22);
	max-width: 60%;
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
/*	text-shadow: 2px 2px 5px rgba(253, 152, 3, 0.4);
*/

}

/*-- FOURTH SECTION --------------------------------*/
#pricing-table {
	margin: 100px auto;
	text-align: center;
	width: 892px; /* total computed width = 222 x 3 + 226 */
}

#pricing-table .plan {
	font: 14px 'Varela Round', sans-serif;;
	text-shadow: 0 1px rgba(255,255,255,.8);        
	background: #fff;      
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
	float: left;
	position: relative;
	background-color: rgba(40,40,40,0.1);
}

#pricing-table #most-popular {
	z-index: 2;
	top: -13px;
	border-width: 3px;
	padding: 30px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#pricing-table .plan:nth-child(1) {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;        
}

#pricing-table .plan:nth-child(4) {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;        
}

/* --------------- */	

#pricing-table h3 {
	font-size: 20px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
	background-color: red;
	background-image: -moz-linear-gradient(#eee,#ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: -o-linear-gradient(#eee, #ddd);
	background-image: -ms-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	margin-top: -30px;
	padding-top: 30px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0; 		
}

#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;       
}

#pricing-table .plan:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;       
}	

#pricing-table h3 span {
	display: block;
	font: bold 20px/100px 'Varela Round', sans-serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;

}

/* --------------- */

#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

/* ------------------------------------------------------------------- */
	
#pricing-table .signup {
	position: relative;
	padding: 8px 20px;
	margin: 20px 0 0 0;  
	color: #fff;
	font: bold 12px 'Varela Round', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #373737;
	background-image: -moz-linear-gradient(#373737, #525252);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#373737), to(#525252));    
	background-image: -webkit-linear-gradient(#373737, #525252);
	background-image: -o-linear-gradient(#373737, #525252);
	background-image: -ms-linear-gradient(#373737, #525252);
	background-image: linear-gradient(#373737, #525252);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 1px 0 rgba(0,0,0,.3);        
	}

#pricing-table .signup:hover {
	background-color: #373737; 
}

#pricing-table .signup:active, #pricing-table .signup:focus {
	background: #373737;       
	top: 2px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}

/*-- FIFTH SECTION --------------------------------*/



